//fuentes
$fuenteBody:'KoHo', sans-serif;
$fuenteTitulos: 'Bebas Neue', cursive;
$fuenteEncabezados: 'Oswald', sans-serif;

//colores
$colorPrincipal:#1A181B;
$colorSecundario:#CFDBD5;
$colorTerciario: #555157;